
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
/* logo */
.logo{
  text-decoration: none;
  color: black;
  display: flex;
  margin-left: 30px;
  margin-top: 6px;
}
.logo>h5:nth-child(2){
  color:white;
  background-color: black;
  height: 100%;
  width:100%;
  padding: 3%;
  border: 1px solid black;

}
.logo>h5:nth-child(1){
  color:black;
  background-color: white;
  height: 100%;
  width:100%;
  padding: 3%;
  border: 1px solid black;

}
.navbar{
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.active{
  color:rgb(236, 107, 2);
font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 50px;
   border-bottom: 1px solid rgb(4, 99, 94);

}

.register{
  border: 1px solid black;
  width:30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  padding: 2%;
  margin-top: 50px;
}
.register>input{
width:80%
}
.register>button{
  width:80%;
  color: rgb(255, 255, 255);
  background-color: black;
  }
  .login{
    border: 1px solid black;
    width:30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:25px;
    align-items: center;
    padding: 4%;
    margin-top: 70px;
  }
  .login>input{
    width:80%
    }
    .login>button{
      width:80%;
      color: rgb(255, 255, 255);
      background-color: black;
      }